.headerIcons {
  margin-right: 0.5rem;
}

.parallax {
  background-image: url("../assets/img/hero-back4.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: herofilter;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes herofilter {
  from {
    filter: hue-rotate(180deg);
  }
  to {
    filter: hue-rotate(-180deg);
  }
}

.header {
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.25s;
}

.header.open {
  transform: translateX(0);
}

.translateBtn {
  border: none;
  background: #212431;
  width: 5rem;
  height: 2.2rem;
  min-width: 2rem;
  color: aliceblue;
  transition: 0.3s;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: flex-end;
  color: #149ddd;
  position: fixed;
  left: 0;
  top: 0%;
}
.innerIcon {
  font-size: 48px;
}

.translateBtn:hover {
  background-color: #149ddd;
}

@media only screen and (max-width: 1200px) {
  .header {
    transform: translateX(-100%);
    transition: all 0.25s;
  }
  .header.open {
    transform: translateX(0);
  }
  .icon {
    display: flex;
    justify-content: flex-end;
    color: #149ddd;
    position: fixed;
    left: 0;
  }
  .innerIcon {
    font-size: 48px;
  }
}
